<!DOCTYPE html>
<html>
<head>
  <title>Bonjour</title>
</head>
<body>

<section class="slice-lg masthead">
    <!-- Mask overlay -->
   

    <!-- Container -->
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="fluid-paragraph paragraph-md">

                    <!-- Left aligned Mobinawa icon -->
                    <div class="icon-block icon-block--style-1-v1">
                        <div class="block-icon">
                            <%= image_tag "logo/mobinawa_small.png", alt: "My Logo", width: 75, height: 75 %>
                        </div>
                        <div class="block-content" style="text-align: left; margin-left: 15px">
                             <h2 class="heading heading-1 strong-400 c-white" style="margin-bottom: 0">
                                Hello,
                            </h2>
                            <h3 class="heading heading-3 strong-400 c-white">What are you searching for ?</h3>
                        </div>
                    </div>

                    <!-- Searcg bar -->
                    <form action="">
                      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                          <input type="search" placeholder="Type your text here" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                          <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
        <br>

        <!-- Boucle Index Categories -->
        <div class="row c-white">
            <% @sectors.each.with_index(1) do |sector| %>
            <div class="col-lg-3 col-md-4 c-white">
                    <div class="block-icon c-white">
                    <%= link_to image_tag(sector.icon, width: 60, height: 60), company_path(sector.id) %>
                    </div>
                    <div class="block-content">
                    <h3 class="heading heading-6 strong-600"><%= link_to (sector.name), company_path(sector.id), class: "c-white" %></h3>
                    <br>
                    </div>
            </div>
            <% end %>
        </div>
    </div>
</section>

</body>
</html>