/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 * Add of Bootstrap CSS
 *= require bootstrap/css/bootstrap.min

* Add of every plugins used by Boomerang
*= require swiper/css/swiper.min
*= require hamburgers/hamburgers.min
*= require animate/animate.min
*= require fancybox/css/jquery.fancybox.min

* Add of icons
*= require ionicons/css/ionicons.min
*= require line-icons/line-icons
*= require line-icons-pro/line-icons-pro

* Add of linea icons
*= require linea/arrows/linea-icons
*= require linea/basic/linea-icons
*= require linea/ecommerce/linea-icons
*= require linea/software/linea-icons


* Add of the Global Style Boomerang CSS
*= require boomerang

* Add of Font awesome
*= require font-awesome

 */

.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("backgrounds/bg-pattern.png"), #E26125;
  background: url("backgrounds/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#E26125), to(#154577));
  background: url("backgrounds/bg-pattern.png"), linear-gradient(to left, #E26125, #154577);
}